
body{background-color:green;}
h1{color:blue;marign-left:40px;font-size:70px;}
h2{color:green;marign-left:70px;font-size:60px;}
h3{color:red;marign-left:60px;font-size:90px;}
p{color:blue;font-size:50px}
